# Global Python ignores
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data and Models
data/
raw_data/
processed_data/
checkpoints/
*.pth
*.pt
*.h5
*.npy
*.wav
*.mp4

# Logs and Visualization
logs/
wandb/
.tensorboard/

# IDEs
.vscode/
.idea/

# Local Configs
configs/local_config.yaml
