# Dataset and Models (Stored in Drive, not GitHub)
data/
models/
logs/

# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Google Colab / Notebooks
.ipynb_checkpoints/

# Other
.DS_Store
*.log
