# Deep Learning
torch
torchaudio
torchvision

# Audio Feature Extraction
librosa
soundfile
audioread
pann-inference
ffmpeg-python

# Explainable AI (XAI)
shap
lime

# Utilities
numpy
pandas
matplotlib
pyyaml
tqdm
h5py
openpyxl

# UI
streamlit
fastapi
uvicorn
